body {

    margin: 0;
    background-color: rgb(116, 100, 14);

}

h1 {

    font-size: 50px;
    text-decoration: underline;
    color: rgb(208, 228, 35);

}

.subtitulo {

    font-size: 35px;
    color: rgb(174, 190, 30);

}

.div-img {


    text-align: center;

}

.batatas1 {

    width: 25%;
    border-radius: 15px;
    border-color: rgb(240, 223, 75);
    border-style: solid;
    transition: 0.5s;
    transform-origin: 0% 0%;

}

.batatas1:hover {

    width: 28%;
    transition: 0.5s linear;

}

h2{

    font-size: 35px;
    color: rgb(226, 214, 100);

}

h3{

    font-size: 25px;
    color: rgb(189, 201, 166);

}

.text-doce {

    margin-bottom: 130px;

}